<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
    <link rel="stylesheet" href="../static/styles/room_list.css">
</head>

<body>

    <div id="header">
        {{.Username}}
        {{if .Admin}}
        <form method="post" action="logout.php" style="display: inline;">
            <button type="submit" name="logout" style="background-color: red; color: white;">Выход</button>
        </form>
        <form method="GET" action="/admin" style="display: inline;">
            <button type="submit" name="admin_panel">Админ-панель</button>
        </form>
        {{end}}
    </div>
    {{if .Admin}}
    <button id= "if_admin"onclick="showCreateRoomForm()">Создать комнату</button>
    {{end}}
    <!-- Модальное окно для создания комнаты -->
    <div id="createRoomModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="hideCreateRoomForm()">&times;</span>
            <h2>Создать комнату</h2>
            <form>
                <label for="roomName">Название комнаты:</label>
                <input type="text" name="roomName" id="roomName" required>

                <label for="autoPlay">Авто-игра:</label>
                <input type="checkbox" name="autoPlay" id="autoPlay">

                <!-- Этот блок будет появляться при выборе "Авто-игра" -->
                <div id="timeControl" style="display: none;">
                    <label>Время на ход (в секундах):</label>
                    <select id="timeOptions" name="timeOptions">
                        <option value="20">20 секунд</option>
                        <option value="30">30 секунд</option>
                        <option value="60">60 секунд</option>
                    </select>
                </div>

                <label for="maxPlayers">Макс. количество игроков:</label>
                <input type="number" id="maxPlayers" min="2">

                <!-- Добавленные картинки с химическими элементами и полями ввода -->
                <div class="chemical-elements">
                    <div class="chemical-element">
                        <img src="../items/TRADE.svg" alt="TRADE" class="element-img">

                        <input type="number" id="element1Count" min="0" value="4">
                    </div>

                    <!-- Добавьте аналогичные блоки для других элементов -->
                    <!-- Пример для второго элемента -->
                    <div class="chemical-element">
                        <img src="../items/O.svg" alt="O" class="element-img">

                        <input type="number" id="element2Count" min="0" value="28">
                    </div>
                    <div class="chemical-element">
                        <img src="../items/N.svg" alt="N" class="element-img">

                        <input type="number" id="element2Count" min="0" value="16">
                    </div>
                    <div class="chemical-element">
                        <img src="../items/H.svg" alt="H" class="element-img">

                        <input type="number" id="element2Count" min="0" value="52">
                    </div>
                    <div class="chemical-element">
                        <img src="../items/Cl.svg" alt="Cl" class="element-img">

                        <input type="number" id="element2Count" min="0" value="16">
                    </div>
                    <div class="chemical-element">
                        <img src="../items/CH3.svg" alt="CH3" class="element-img">

                        <input type="number" id="element2Count" min="0" value="28">
                    </div>
                    <div class="chemical-element">
                        <img src="../items/CH2.svg" alt="CH2" class="element-img">

                        <input type="number" id="element2Count" min="0" value="24">
                    </div>
                    <div class="chemical-element">
                        <img src="../items/CH.svg" alt="CH" class="element-img">

                        <input type="number" id="element2Count" min="0" value="24">
                    </div>
                    <div class="chemical-element">
                        <img src="../items/C6H5.svg" alt="C6H5" class="element-img">

                        <input type="number" id="element2Count" min="0" value="16">
                    </div>
                    <div class="chemical-element">
                        <img src="../items/C6H4.svg" alt="C6H4" class="element-img">

                        <input type="number" id="element2Count" min="0" value="16">
                    </div>
                    <div class="chemical-element">
                        <img src="../items/C.svg" alt="C" class="element-img">

                        <input type="number" id="element2Count" min="0" value="40">
                    </div>
                    <!-- Повторите аналогичные блоки для других элементов -->
                </div>

                <button type="button" onclick="createRoom()">Создать</button>
                <div id="error"></div>
            </form>
        </div>
    </div>

    <script src="../static/room_list.js" defer></script>

    <div id="content">
        <h2>Список комнат для игры</h2>
        <table id="roomTable">
            <tr>
                <th>Название комнаты</th>
                <th>Авто-игра</th>
                <th>Время на ход</th>
                <th>Макс. игроков</th>
                {{if .Admin}}<th id="delete_button">Удалить</th>{{end}}
            </tr>
        </table>
    </div>
</body>

</html>