<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script  src="../static/websocket.js"></script>
    <link rel="stylesheet" href="../static//styles/room.css">
</head>

<body>

    <header>
        <div class="user-info">
            <a class="logout-btn" href="/hub">Выйти</button></a>
        </div>
        <h1 id="room-title">{{.Room}}</h1>
        <p class="table-info">Ваш номер стола: <span>{{.Username}}</span></p>
    </header>

    <main>
        <div class="top-players">
            <h2>Топ игроков</h2>
            <ul id="topPlayersList"></ul>
        </div>

        <div class="icons">
            <button id="chatToggle">Чат</button>
            <button id="topToggle">ТОП</button>
        </div>

        <div class="main-content">
            <div class="timer"></div>
            <img id="elementImage" style="display: none;"  src="" alt="Химический элемент">
            {{if not .Admin}} <button class="raise-hand-btn" onclick="raiseHand()">Поднять руку</button> {{end}}
        
            {{if .Admin}}<button class="admin-btn" onclick="getElement()" style="display: none;">Вытащить новый элемент</button>{{end}}
            {{if .Admin}}<button id="stopButton" class="admin-btn stop" onclick="stopGame()" style="display: none;">Стоп-игра</button>{{end}}

            {{if .Admin}}<button id="continueButton" class="admin-btn continue" onclick="continueGame()" style="display: none;">Продолжить игру</button>{{end}}
            {{if .Admin}}<button class="admin-btn start-game-btn" onclick="startGame()">Начать игру</button>{{end}}

        </div>
        

        <div class="chat">
            <h2>Чат</h2>
            <div class="messages">
                <div id="start_message" class="message">
                    <span class="message__author"> Скибидидидидии! </span>
                    <span class="message__field"> Привет! </span>
                </div>
                <!-- Здесь будет содержимое чата -->
            </div>
            <div class="chat-input-wrapper">
                <form name="publish">
                    <input type="text" name="message" placeholder="Введите сообщение" class="place_message">
                    <input style="background-color: #4682B4; color: #fff;" class='btn' type="submit" value="Отправить">
                </form>
            </div>
        </div>
    </main>

    <div class="last-elements" id="lastElementsContainer" style="display: none;">
        <h3>Последние элементы</h3>
        <img class="element-img" id="element1" alt="Элемент 1">
        <img class="element-img" id="element2" alt="Элемент 2">
        <img class="element-img" id="element3" alt="Элемент 3">
        <img class="element-img" id="element4" alt="Элемент 4">
        <img class="element-img" id="element5" alt="Элемент 5">
    </div>
    
    



    <script src="../static/room.js" defer></script>
    <div id="isAdmin" style="display: none;">{{.Admin}}</div>
    <!-- HTML-код для модального окна -->
    <div class="modal" id="myModal" style="display: none;">
        <span class="close-btn" onclick="closeModal()">&times;</span>
        <h2 id="modalTitle">Начислить очки игроку: </h2>
        <div class="score-block" id="alphaBlock">
            <input id="radio-alpha" type="checkbox" name="score" value="1" data-field="alpha"
                onclick="handleCheckboxClick(this)">
            <label for="radio-alpha" style="font-size: 24px; font-weight: 300;">Alpha</label>
        </div>
        <div class="score-block" id="betaBlock">
            <input id="radio-beta" type="checkbox" name="score" value="1" data-field="beta"
                onclick="handleCheckboxClick(this)">
            <label for="radio-beta" style="font-size: 24px; font-weight: 300;">Beta</label>
        </div>
        <div class="score-block" id="gammaBlock">
            <input id="radio-gamma" type="checkbox" name="score" value="1" data-field="gamma"
                onclick="handleCheckboxClick(this)">
            <label for="radio-gamma" style="font-size: 24px; font-weight: 300;">Gamma</label>
        </div>
        <div class="penalty-block" id="penaltyBlock">
            <input id="radio-penalty" type="checkbox" name="score" value="-1" data-field="penalty"
                onclick="handleCheckboxClick(this)">
            <label for="radio-penalty" style="font-size: 24px; font-weight: 300;">Штрафное очко</label>
        </div>
        
        <div class="manual-input">
            <div class="bar"></div> 
            <label for="manualScore"><strong>Или</strong> введите очки вручную:</label>
            
            <input type="number" id="manualScore" name="manualScore">
        </div>
        <button type="button" id="modalButton">Начислить очки</button>
    </div>
    <!-- HTML-код для вашего уведомления с добавленным элементом audio -->
    <div id="notification-container">
        <p id="notification-text">Кто-то поднял руку!</p>
        <audio id="notification-sound">
            <source src="/static/sounds/notification.mp3" type="audio/mp3">
        </audio>
    </div>

</body>

</html>