body {
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
}

button {
    background-color: #1f6ec2;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}
.modal2 {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

.full_room{
    display: none;
}
.modal2{
    text-align: center;
}
#if_admin,
#admin_panel_button {
    background-color: #007BFF;
    padding: 10px 20px;

}
button:hover {
    background-color: #15548a; /* Новый цвет фона при наведении */
}

#if_admin:hover,
#admin_panel_button:hover {
    background-color: #0056b3; /* Новый цвет фона при наведении */
}
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 108px;
    color: red;
    cursor: pointer;
}

.modal-content form label {
    display: block;
    margin-bottom: 10px;
    /* Adjust the value to your preference */
}

.chemical-element {
    margin-bottom: 10px;
    /* Adjust the value to your preference */
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Set the modal height to 100% of the viewport height */
}

.modal-content {
    text-align: center;
}

/* Add this to your existing CSS or create a new style block */
.modal-content form input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Style the checkbox */
.modal-content form input[type="checkbox"] {
    width: auto;
    margin-right: 5px;
}

/* Style the button */
.modal-content form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.modal-content form button:hover {
    background-color: #367d39;
}
/* Style the error message */
#error {
    color: red;
    margin-top: 10px;
    font-size: 14px;
}

#header {
    text-align: right;
    padding: 10px;
    font-weight: bold;
    font-size: larger;

}

#content {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#content h2 {
    text-align: center;
}

#roomTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#roomTable th,
#roomTable td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

#roomTable th {
    background-color: #007BFF;
    color: #fff;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    width: 60%;
    border: 1px solid #888;
    border-radius: 5px;
}

@media only screen and (max-width: 600px) {
    #content {
        padding: 10px;
        max-width: 100%;
    }

    #roomTable th,
    #roomTable td {
        padding: 5px;
    }

    .modal-content {
        width: 80%;
    }
}

@media only screen and (max-width: 420px) {
    #content {
        font-size: 15px;
    }

    #roomTable th,
    #roomTable td {
        padding: 5px;
        font-size: 10px;
    }

    .modal-content {
        width: 80%;
    }
}

.chemical-elements {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.chemical-element {
    display: flex;
    align-items: center;
    /* Выравниваем содержимое по вертикали */
    margin-bottom: 10px;
}

.element-img {
    width: 40px;
    /* Желаемая ширина картинки */
    height: 40px;
    /* Высота картинки равна высоте input поля */
    margin-right: 5px;
    /* Добавим немного отступа между картинкой и input полем */
}

.chemical-element input {
    width: calc(30% - 22px);
    margin-top: 5px;
}

@media only screen and (max-width: 600px) {
    .chemical-element {
        flex: 0 0 100%;
    }
}

@media only screen and (max-width: 420px) {
    .chemical-element {
        flex: 0 0 100%;
    }
}