/* Добавлены стили для мерцания */
@keyframes flashAnimation {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}

/* Добавлены стили для блока таймера */
.timer {
    font-family: monospace;
    font-size: 36px;
    color: #333;
}
.manual-input {
    position: relative;
}

.bar {

    width: 100%;
    height: 3px; /* Adjust the height of the bar as needed */
    background-color: #cdcbcb; /* Adjust the background color as needed */
    margin-bottom: 10px;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;
    background-color: #f0f8ff;
    /* Голубой фон */
}

.flash {
    animation: flashAnimation 0.5s infinite alternate;
}

header {
    background-color: #61b0ff;
    /* Темно-синий фон */
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#room-title {
    text-align: left;
    margin: 0;
    /* Убираем отступы */
    flex-grow: 1;
    /* Занимает доступное пространство */
    padding-left: 60px;
}

.user-info {
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.table-info {
    font-size: 18px;
    font-weight: bold;
    padding-right: 20px;
    min-width: 120px;
    /* Устанавливаем минимальную ширину */
}
.message__content {
    
    font-size: 16px; /* Размер шрифта для сообщения */
    margin-top: 5px; /* Отступ между именем и сообщением */
}
.message {
    /* Ваши существующие стили */
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    width: 200px;
    margin-top: 10px;
    border: 1px solid rgb(207, 207, 207);
    border-width: 0px 0px 1px 0px;
    padding-bottom: 10px;
    align-items: center;
}

.message__author {
    font-weight: bold;
    color: #000;
    margin-bottom: 5px; /* Отступ между автором и текстом сообщения */
}
  .btn{
    margin-top: 5px;
  }

  
  
.logout-btn {
    background-color: #1c1c1c;
    /* Красная кнопка выхода */
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    min-width: 120px;
    /* Устанавливаем минимальную ширину */
}

.logout-btn:hover {
    background-color: #cc0000;
    /* Темно-красный при наведении */
}

main {
    display: flex;
    justify-content: space-between;

    width: 100%;
    flex-grow: 1;
}

.top-players,
.chat {
    width: 15%;
    border: 1px solid #87CEFA;
    /* Светло-голубая граница */
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-width: 200px;
    max-height: 700px;
    padding-bottom: 0;
    margin: 10px;
    text-align: center;
    background-color: rgb(105, 162, 212);
    /* Голубой фон */
    color: #fff;
    /* Белый текст */
}

.top-players {
    text-align: left;
    max-height: 700px;
    /* Установите максимальную высоту блока, при которой появится полоса прокрутки */
    overflow-y: auto;
    /* Добавлено свойство для вертикальной полосы прокрутки */
}

.top-players h2 {
    margin-bottom: 10px;
}

.top-players ul {
    list-style: none;
    padding: 0;
    font-weight: bold;
    margin: 0;
    /* Добавлено для устранения отступа сверху внутри блока */
}

.top-players li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.top-players li:last-child {
    border-bottom: none;
    /* Убрано разделительное поле у последнего элемента списка */
}

.top-players li span {
    font-weight: bold;
    margin-right: 10px;
}

.top-players li:nth-child(1) {
    background-color: #FFD700;
    /* Золото для первого места */
    color: #000;
    /* Черный цвет текста для первого места */
    font-weight: bold;
}

.top-players li:nth-child(2) {
    background-color: #C0C0C0;
    /* Серебро для второго места */
    color: #000;
    /* Черный цвет текста для второго места */
    font-weight: bold;
}

.top-players li:nth-child(3) {
    background-color: #cd7f32;
    /* Бронза для третьего места */
    color: #000000;
    /* Белый цвет текста для третьего места */
    font-weight: bold;
}

.top-players li span.score {
    color: rgb(0, 0, 0);
    /* Зеленый цвет для количества очков */
}

.main-content {
    text-align: center;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    position: relative;
    flex: 3;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timer {
    font-family: monospace;
    font-size: 36px;
    color: #333;
}

.main-content img {
    width: 100%;
    max-width: 690px;
    height: auto;
    opacity: 1;
}
.chat h2 {
    margin-bottom: 10px;
    /* Отступ между заголовком и содержимым чата */
}
/* Обновлены стили для чата и поля ввода сообщений */
.chat {
    /* Ваши существующие стили для .chat */
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 700px;
    overflow-y: auto;
}

.chat-input {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.chat-input input {
    padding: 10px;
    width: 90%;
    flex-grow: 1;
    margin-bottom: 5px;
}

.chat-input .btn {
    background-color: #4682B4;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 90%;
}

.chat-input .btn:hover {
    background-color: #1E90FF;
}

.table-info>span {
    font-size: 24px;

}

/* Остальные стили остаются без изменений */


.last-elements {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.element-img {
    width: 50px;
    height: 50px;
    margin: 5px;
}

.raise-hand-btn,.admin-btn {
    background-color: #4682B4;
    /* Синий цвет */
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.raise-hand-btn,.admin-btn:hover {
    background-color: #1E90FF;
    /* Голубой цвет при наведении */
}
.chat-input-wrapper {
    position: sticky ;
    bottom: 0 ;
    padding: 10px ;
    background-color: rgb(105, 162, 212);
}
/* Добавлены ключевые кадры для анимации */
@keyframes fadeInOut {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

/* Добавьте следующие стили для блока .icons */
.icons {
    position: fixed;
    top: 6%;
    right: 2%;
    display: none;
    /* Скрыть иконки по умолчанию */
    z-index: 999;
    /* Установить z-index, чтобы иконки были поверх других элементов */
}

.icons button {
    margin: 5px;
}

/* Стили для модального окна */
.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

/* Стили для кнопки в модальном окне */
#modalButton {
    background-color: #4682B4; /* Синий цвет кнопки */
    color: #fff; /* Белый цвет текста */
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}
.score-block {
	display: inline-block;
	margin-right: 10px;
}
.score-block input[type=checkbox] {
	opacity: 0;
}
.score-block label {
	display: inline-block;
	cursor: pointer;
	padding: 0px 15px;
	line-height: 34px;
	border: 1px solid #999;
	border-radius: 6px;
	user-select: none;
}
 .penalty-block{
    padding-top: 20px;
    padding-bottom: 20px;
 }
 .manual-input {
    margin-top: 10px;
}

.manual-input label {
    display: block;
    margin-bottom: 5px;
}
#notification-container {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 250px;
    padding: 15px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: none;
    transition: opacity 1s ease-in-out;
}

/* CSS для вашего уведомления */
#notification-container {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 250px;
    padding: 15px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: none;
    transition: opacity 1s ease-in-out;
}

#notification-container.show {
    display: block;
}

#notification-container {
    font-size: 60px;
    text-align: center;
}

/* CSS для скрытия элемента audio */
#notification-sound {
    display: none;
}
.manual-input input[type="number"] {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #999;
    border-radius: 6px;
    width: 100%;
    box-sizing: border-box;
    outline: none;
}

.manual-input input[type="number"]:focus {
    border-color: #4682B4; /* Цвет рамки при фокусе */
    box-shadow: 0 0 5px rgba(70, 130, 180, 0.7); /* Тень при фокусе */
}
/* Checked */
.score-block input[type=checkbox]:checked + label {
	background: #62a3dc;
}
 
/* Hover */
.score-block label:hover {
	color: #b8b8b8;
}
 
/* Disabled */
.score-block input[type=radio]:disabled + label {
	background: #efefef;
	color: #666;
}
#modalButton:hover {
    background-color: #355d80; /* Цвет кнопки при наведении */
}
/* Затемнение остальной страницы */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none; /* Скрыто по умолчанию */
}

/* Стиль для кнопки закрытия модального окна */
.modal-close {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: #555;
}

/* Стиль для затемнения, когда модальное окно открыто */
.overlay.active {
    display: block;
}

/* Добавьте медиа-запрос для показа иконок при ширине экрана 850px и больше */
@media only screen and (max-width: 851px) {
    header {

        flex-direction: row;
        align-items: center;
    }

    .user-info {
        padding-left: 10px;
    }

    .table-info {
        font-size: 15px;
    }

    .table-info>span {
        font-size: 15px;

    }

    .logout-btn {
        min-width: auto;
        /* Сброс минимальной ширины для кнопки выхода */
        padding: 5px 10px;
        /* Уменьшите отступы кнопки */
    }

    #room-title {
        padding-left: 130px;
        font-size: 20px;

    }

    .icons {
        display: block;
    }

    .top-players,
    .chat {
        display: none;
        /* Скрыть эти панели по умолчанию на экранах размером 850px и меньше */
    }

    /* Добавьте стили для анимации плавного появления иконок */
    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    .icons {
        animation: fadeIn 1s ease-out;
        /* Добавьте анимацию к блоку .icons */
    }

    .main-content img {
        max-width: 80%;
        /* Уменьшите максимальную ширину картинки */
    }

    .last-elements {
        bottom: 10px;
        right: 10px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .element-img {
        width: 30px;
        /* Уменьшите размер изображений элементов */
        height: 30px;
        margin: 5px;
    }

    @media only screen and (max-width: 600px) {
        header {
            height: 50px;
        }

        #room-title {
            flex-grow: 0;
            padding-right: 20px;
        }

        main {
            position: relative;
            /* Устанавливаем позицию main как относительную для абсолютного позиционирования .table-info */
        }

        .table-info {
            position: absolute;
            top: 5%;
            left: 10px;
            /* Установите нужное значение отступа от левого края */
            color: #000;
            font-size: 12px;

        }

    }

    @media only screen and (max-width: 407px) {
        #room-title {
            font-size: 15px;
            padding-left: 0;
        }

        .top-players {
            min-width: 140px;
            font-size: 11px;
            padding: 5px;
            margin-top: 30px;
        }

        .chat {
            min-width: 140px;
            font-size: 11px;
            padding: 5px;
            margin-top: 30px;
        }

        .last-elements {
            bottom: 10px;
            right: 10px;

        }
        .chat-input-wrapper {
            
            padding:0;
            
        }
        .message{
            width: 140px;
        }
        .place_message{
            width: 130px;
        }
        .chat{
            padding-bottom: 0;
        }
    }
    
}
