@tailwind base;
@tailwind components;
@tailwind utilities;

/* @theme{
  --color-blued: #4E88CF;
} */

body {

  margin: 0;
  padding: 0;
  @apply bg-slate-500 bg-opacity-5;
}

button {
  @apply rounded-lg bg-main text-white font-bold px-4 py-2 w-fit hover:bg-blue-600 hover:cursor-pointer transition-colors disabled:bg-gray-400 disabled:cursor-not-allowed disabled:opacity-90;
}

input {
  @apply border-2 px-2 py-1 rounded;
}

th {
  @apply text-left border-b-2;
}

td {
  @apply p-2;
}

h2 {
  @apply text-black font-bold text-lg md:text-3xl;
}

h3 {
  @apply text-black font-bold text-lg;
}
@layer components {
  .bars {
    @apply border-solid border-2 border-main rounded-[10px];
  }
}

