@tailwind base;
@tailwind components;
@tailwind utilities;

/* @theme{
  --color-blued: #4E88CF;
} */

body {
  margin: 0;
  padding: 0;
  @apply bg-slate-500 bg-opacity-5;
}

button {
  @apply text-sm md:text-base rounded-[2px] bg-main-light border-b-4
   border-main text-white font-bold px-2 py-1 md:px-4 md:py-2  w-fit
    hover:bg-main hover:cursor-pointer transition-colors 
     disabled:cursor-not-allowed disabled:bg-disabled-bg disabled:text-disabled-fg;
}

input {
  @apply border-2 px-2 py-1 rounded;
}

th {
  @apply text-left border-b-2;
}

td {
  @apply p-2;
}

h2 {
  @apply text-black font-bold text-lg md:text-3xl;
}

h3 {
  @apply text-black font-bold text-lg;
}
@layer components {
  .bars {
    @apply border-solid border-2 border-main rounded-[10px];
  }
}
